* {
    background: url(./images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.main-heading { grid-area: header; }
.instructions { grid-area: menu; }
.game-board { grid-area: main; }
#timer { grid-area: right; }
.footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu main main main footer footer';
  grid-gap: 10px;
}

.grid-container > div {
  text-align: left;
  padding: 0px 0;
}

.main-heading{
  color:white;
  font-size: 1.8em;
  letter-spacing: 3px;
  margin-left: 5%;
  height: 100px;
  align-content: center;
} 

h2{
  color:rgb(196, 148, 236);
  font-size: 1.8em;
  margin-left: 15%;
}

.instructions{
  margin-top: 0%;
  letter-spacing: 1px;
}

.instructions div{
  font-size: 1.2em;
  border: 2px solid;
  border-color: white;
  color: white;
  margin-left: 10%;
  border-radius: 15px;
  width: 300px;
  height: 350px;
}

#timer{
  margin-right: 40%;
  letter-spacing: 1px;
  font-size: 1em;
}

#time{
  font-size: 2em;
  border:rgb(233, 10, 95) 2px dotted;
  color: rgb(233, 10, 95);
  border-radius: 15px;
  width: 150px;
  margin-top: 20%;
}

.footer{
  font-size: 1.2em;
  margin-top: 50%;
  color: white;
}

.game-board {
  width: 530px;
  height: 350px;
  margin-left:10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;    
  perspective: 1000px;
}

.memory-card {
  width: 110px;
  height: 120px;
  margin: 0 5px;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.memory-card:active {
  transform: scale(0.97);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  transition: transform .2s;
  padding: 2px;
  position: absolute;
  border-radius: 10px;
  background:rgb(17, 1, 31);
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.memory-card.flip {
  transform: rotateY(180deg);
}